<div class="body">
  <!-- Sidebar -->
  <app-sidebar [isExpanded]="true" id="isExpanded"></app-sidebar>
  <app-sidebar [isExpanded]="false" id="isNotExpanded"></app-sidebar>
  <!-- Main -->
  <div class="container-fluid">
    <!-- Header -->
    <app-header></app-header>
    <!-- Content -->
    <div class="row-cols-1 container">
      <div class="item">
        <app-pending-card></app-pending-card>
      </div>
      <div class="item">
        <app-vacation-card></app-vacation-card>
      </div>
      <div class="item">
        <app-solicitation-card></app-solicitation-card>
      </div>
    </div>
    <div class="row-cols-1 container">
      <app-records-area></app-records-area>
    </div>
  </div>
</div>
