<!-- Users Page -->
<div class="body" *ngIf="role">
  <!-- Sidebar -->
  <div class="sidebar" id="isExpanded">
    <app-sidebar [isExpanded]="true"></app-sidebar>
  </div>
  <div class="sidebar" id="isNotExpanded">
    <app-sidebar [isExpanded]="false"></app-sidebar>
  </div>
  <!-- Main -->
  <div class="container-fluid">
    <!-- Header -->
    <div class="header">
      <app-header></app-header>
    </div>
    <!-- Content -->
    <div class="container">
      <app-toolbar [context]="context"></app-toolbar>
      <app-modal-body [readOnly]="false" (context)="changeContext($event)"></app-modal-body>
    </div>
  </div>
</div>
<!-- Footer -->
<app-footer></app-footer>
