.header-content {
  display: flex;
  flex-direction: row;
  min-height: 10%;
}

.col-1 {
  min-width: 80%;
}

.col-2 {
  min-width: 20%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 30px;
}
