<!--Toolbar-->
<div class="container toolbar">

  <!-- Novo usuário-->
  <div class="icons" *ngIf="context === 'listUsers' ">
    <a class="slot" (click)="openUserModal()">
      <i class="bi bi-person-plus-fill"></i>
      <p>Novo usuário</p>
    </a>
  </div>

  <!-- Gerar pendência-->
  <div class="icons" *ngIf="context === 'listUsers'">
    <a class="slot" (click)="isMultipleSelected || isSingleSelected ?
      createPending() : null" [class.disabled]="!isMultipleSelected && !isSingleSelected">
      <i class="bi bi-person-fill-exclamation"></i>
      <p>Gerar pendência</p>
    </a>
  </div>

  <!-- Criar solicitação-->
  <div class="icons" *ngIf="context === 'listUsers'">
    <a class="slot" (click)="isMultipleSelected || isSingleSelected ? createSolicitation() : null"
      [class.disabled]="!isMultipleSelected && !isSingleSelected">
      <i class="bi bi-envelope-exclamation-fill"></i>
      <p>Criar uma solicitação</p>
    </a>
  </div>

  <!-- Editar usuário-->
  <div class="icons" *ngIf="context === 'listUsers'">
    <a class="slot" (click)="!isMultipleSelected && isSingleSelected ? editUser() : null"
      [class.disabled]="isMultipleSelected || !isSingleSelected">
      <i class="bi bi-pencil-fill"></i>
      <p>Editar usuário</p>
    </a>
  </div>

  <!-- Excluir usuário-->
  <div class="icons" *ngIf="context === 'listUsers'">
    <a class="slot" (click)="!isMultipleSelected && isSingleSelected ? disableUser(selectedUsers[0]) : null"
      [class.disabled]="isMultipleSelected || !isSingleSelected">
      <i class="bi bi-trash-fill"></i>
      <p>Excluir usuário</p>
    </a>
  </div>

  <!-- Salvar edição-->
  <div class="icons" *ngIf="context === 'edit' || context === 'isEdited' ">
    <a class="slot"
      [class.disabled]="context === 'edit'">
      <i class="bi bi-floppy-fill"></i>
      <p>Salvar</p>
    </a>
  </div>

  <!-- Cancelar edição-->
  <div class="icons" *ngIf="context === 'edit' || context === 'isEdited' ">
    <a class="slot" (click)="comeBack()">
      <i class="bi bi-x-circle-fill"></i>
      <p>Cancelar</p>
    </a>
  </div>

</div>
