<div class="container card">
  <table class="table table-borderless table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Funcionário</th>
        <th scope="col">Entrada / Saída</th>
        <th scope="col">Horas extras</th>
        <th scope="col">Horas faltantes</th>
        <th scope="col">Saldo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records">
        <th scope="row"><div class="circle-green" *ngIf="record.status"></div>
          <div class="circle-red" *ngIf="!record.status && record.status !== null"></div>
          <div class="circle-orange" *ngIf="record.status === null"></div>
        </th>
        <td>{{record.name}}</td>
        <td>{{record.recordType[0] + ' - ' + record.recordType[1]}}</td>
        <td>{{record.extraHours}}</td>
        <td>{{record.missingHours}}</td>
        <td>{{record.balance}}</td>
      </tr>
  </table>
</div>
