<div class="container card">
  <table class="table table-borderless table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Funcionário</th>
        <th scope="col">Entrada / Saída</th>
        <th scope="col">Horas extras</th>
        <th scope="col">Horas faltantes</th>
        <th scope="col">Saldo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row"><div class="circle-green" *ngIf="user.status === true"></div>
          <div class="circle-red" *ngIf="user.status === false"></div>
          <div class="circle-orange" *ngIf="user.status === null"></div>
        </th>
        <td>{{user.firstName + ' ' + user.lastName}}</td>
        <td>{{user.dayRecord.arrivedAt + ' - ' + user.dayRecord.leftAt }}</td>
        <td>{{user.dayRecord.extraHours}}</td>
        <td>{{user.dayRecord.missingHours}}</td>
        <td>{{user.dayRecord.balance}}</td>
      </tr>
  </table>
</div>
