.card {
  background-color: #efefef;
  min-height: 350px;
  align-items: center;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.circle-green {
  background-color: #00b300;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #333 1px solid;
}

.circle-red {
  background-color: #ff0000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #333 1px solid;
}

.circle-orange {
  background-color: #ff9900;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #333 1px solid;
}
