<div class="container card">
  <table class="table table-borderless table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Funcionário</th>
        <th scope="col">Entrada / Saída</th>
        <th scope="col">Horas extras</th>
        <th scope="col">Horas faltantes</th>
        <th scope="col">Saldo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records">
        <th scope="row"><div class="circle-green" *ngIf="record.date"></div>
          <div class="circle-red" *ngIf="!record.date && record.date !== newDate"></div>
          <div class="circle-orange" *ngIf="record.date === newDate"></div>
        </th>
        <td>{{record.employee}}</td>
        <td>{{record.arrivedAt + ' - ' + record.leftAt }}</td>
        <td>{{record.extraHours}}</td>
        <td>{{record.missingHours}}</td>
        <td>{{record.balance}}</td>
      </tr>
  </table>
</div>
