<body class="container" id="saiba-mais" data-aos="fade-up" data-aos-duration="3000">

  <div class="container mt-5">
    <h1>Controle de Ponto Simplificado e em Conformidade com a Portaria 671/2021</h1>
    <br>
    <p>Gerenciar o ponto dos seus colaboradores nunca foi tão fácil! Apresentamos o <strong>App-Ponto Conecsa</strong>,
      a solução perfeita para a gestão de jornada de trabalho da sua equipe.</p>
    <br>
    <div class="row">
      <div class="col-md-4">
        <h2><i class="bi bi-clock"></i> Registro de Ponto Eficiente</h2>
        <p>Adeus ao antigo e demorado método de registro de ponto em papel. Com o App-Ponto Conecsa, seus colaboradores
          podem registrar o ponto de forma rápida e fácil, tudo na palma da mão.</p>
      </div>
      <div class="col-md-4">
        <h2><i class="bi bi-calendar"></i> Gestão de Escala de Trabalho</h2>
        <p>O painel do gestor permite que você defina as escalas de trabalho de cada colaborador de maneira simples e
          organizada. Nunca foi tão fácil criar e gerenciar turnos de trabalho.</p>
      </div>
      <div class="col-md-4">
        <h2><i class="bi bi-list-check"></i> Cálculo de Horas Extras Personalizado</h2>
        <p>O App-Ponto Conecsa automatiza o cálculo de horas extras de acordo com as regras de negócio da sua empresa.
          Diga adeus aos erros nos cálculos e ao trabalho manual.</p>
      </div>
    </div>
    <br>

    <p>Simplifique a gestão de ponto da sua empresa, economize tempo e elimine preocupações com questões legais.
      Experimente o App-Ponto Conecsa hoje mesmo e descubra como tornar a gestão de jornada de trabalho mais eficiente
      do que nunca!</p>
    <br>
    <a class="btn btn-primary"
      href="https://play.google.com/store/apps/details?id=io.ionic.syspconecsa&pcampaignid=web_share"
      style="margin-bottom: 30px;">Baixe agora</a>
    <p>Se você está pronto para revolucionar a forma como gerencia o ponto dos seus colaboradores, o App-Ponto Conecsa é
      a escolha certa. Experimente e sinta a diferença!</p>

    <p>Para mais informações, visite nosso site em <a href="https://www.conecsa.com.br">www.conecsa.com.br</a> ou entre em
      contato conosco pelo email <a href="mailto:comercial@conecsa.com.br">comercial@conecsa.com.br</a>.</p>
  </div>

  <div class="spacer"></div>
</body>
