.login-field {
  display: flex;
  justify-content: center;
  position: relative;
  border: #000 1px solid;
  border-radius: 30px;
  padding: auto;
  margin: 20px;
  margin-right: auto;
}

$input-border-color: #000;
