<div class="body">
  <!-- Sidebar -->
  <div class="sidebar" id="isExpanded">
    <app-sidebar [isExpanded]="true"></app-sidebar>
  </div>
  <div class="sidebar" id="isNotExpanded">
    <app-sidebar [isExpanded]="false"></app-sidebar>
  </div>
  <!-- Main -->
  <div class="container-fluid">
    <!-- Header -->
    <div class="header">
      <app-header></app-header>
    </div>
    <!-- Content -->
    <div class="container">
      <app-filter-tags (tagsChanged)="filterUsers($event)"></app-filter-tags>
      <app-users-tool-bar></app-users-tool-bar>
      <app-users-component (userSelected)="selectUser($event)"></app-users-component>
    </div>
  </div>
</div>
<!-- Footer -->
<app-footer></app-footer>
