<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Cod. Empresa</span>
  <input type="text" class="form-control" aria-label="CompanyId" aria-describedby="basic-addon1">
</div>
<div class="input-group mb3">
  <span class="input-group-text" id="basic-addon1">Cod. Usuário</span>
  <input type="text" class="form-control" aria-label="UserId" aria-describedby="basic-addon1">
</div>
<div class="card-footer" style="justify-content: space-between; display: flex; margin-top: 10px;">
  <a href="#">Primeiro acesso</a>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-success">Entrar</button>
  </div>
</div>
