html {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

header {
  background-color: #f4f4f4;
  text-align: center;
  top: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #f4f4f4;
  justify-content: center;
}

.navbar {
  border-bottom: 1px solid #011C43;
}

.spacer {
  flex: 1 1 auto;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  border: 2px solid #011C43;
  margin-bottom: 20px;
  margin-left: 20px;
}

.square-box {
  display: flex;
  flex-flow: wrap;
  justify-content: right;
  max-width: 50%;
}

@media (max-width: 768px) {
  .square-size {
      width: 120px;
      height: 120px;
  }
}

@media (max-width: 576px) {
  .square-size {
      width: 90px;
      height: 90px;
  }
}
