.icons {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 70%;
  padding: 0;
}

.side-header {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  padding: 5px;
}

.logo {
  max-width: 50px;
  max-height: 50px;
  margin-left: 5px;
}

.side-footer {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  height: 20%;
}

.sidebar {
  display: block;
  background-color: #EFEFEF;
  width: 50px;
  transition: width 0.3s;}

.sidebar.expanded {
  width: 180px;
}

.icon {
  font-size: 20px;
  padding: 10px;
  display: flex;
  margin-left: 5px
}

.slot {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
  min-width: 50px;
  max-width: 180px;
}

.slot:hover {
  background-color: #fff;
  cursor: pointer;
}

.sidebar.expanded {
  font-size: 18px;
}

i:hover {
  color: #04A24D;
  cursor: pointer;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #04A24D;
  cursor: pointer;
}

p {
  margin: 0;
}
