.data-area, .contacts-area, .password-area, .adress-area, .photo-area {
  margin: 20px;
  padding: 10px;
}

.photo-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.profile-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
