.card {
  background-color: #efefef;
  min-height: 350px;
  align-items: center;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.circle-green {
  background-color: #00b300;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #333 1px solid;
}

.circle-red {
  background-color: #ff0000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #333 1px solid;
}

.circle-orange {
  background-color: #ff9900;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #333 1px solid;
}

.btn {
  display: flex;
  min-width: 150px;
  justify-content: center;
}

.scrollable-component {
  height: 350px;
  overflow-y: auto; /* Isso adicionará a barra de rolagem vertical se o conteúdo exceder a altura */
}

.table {
  table-layout: fixed;
  width: 100%;
}

.table td, .table th {
  padding: 10px;
  vertical-align: middle;
}

.table tr td:first-child, .table tr th:first-child {
  width: 40px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .container {
    display: block;
    padding: 2px;
  }
  .card {
    max-width: 350px;
  }
  .circle-green, .circle-orange, .circle-red {
    width: 5px;
    height: 5px;
  }
  .table tr td:first-child, .table tr th:first-child {
    width: 15px;
  }
  .table td, .table th {
    padding: 5px;
  }
  .table {
    max-height: 100px;
    font-size: 10px;
  }
  .btn {
    display: flex;
    font-size: 8px;
  }

  @media (max-width: 600px) {
    #isExpanded {
      display: none;
    }
    #isNotExpanded {
      display: block;
    }
  }

  @media (min-width: 601px) {
    #isExpanded {
      display: block;
    }
    #isNotExpanded {
      display: none;
    }
  }
}
