<div class="container icons">
  <a class="slot" *ngIf="loggedUser" [class.disabled]="loggedUser.user_id != user!.user_id && !user!.status">
    <i class="bi bi-record2 new-record" [class.disabled]="loggedUser.user_id != user!.user_id && !user!.status" [popover]="'Registrar ponto'"
      triggers="mouseenter:mouseleave"></i>
  </a>
  <a class="slot" *ngIf="loggedUser" [class.disabled]="!user!.status">
    <i class="bi bi-pencil-square edit-record" [class.disabled]="!user!.status" [popover]="'Editar ponto'"
      triggers="mouseenter:mouseleave"></i>
  </a>
  <a class="slot">
    <i class="bi bi-card-checklist" style="font-size: 25px;" [popover]="'Ver registros'"
      triggers="mouseenter:mouseleave"></i>
  </a>
  <a class="slot missed-record" *ngIf="loggedUser" [class.disabled]="user!.status">
    <i class="bi bi-ban" [class.disabled]="user!.status" [popover]="'Registrar falta'" triggers="mouseenter:mouseleave"></i>
  </a>
</div>
