div {
  border: red 1px solid;
}

.header {
  min-height: 10%;
  max-height: 10%;
  max-width: 100%;
  min-width: 90%;
}

.body {
  background-color: #f4f4f4;
  min-height: 93%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: #EFEFEF;
  min-height: 100%;
  max-width: 5%;
  min-width: 5%;
}

.content {
  min-height: 100%;
  max-width: 95%;
  min-width: 95%;
}

.row-cols-1 {
  min-height: 30%;
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.item {
  max-width: 25%;
  min-height: 25%;
}

.row-cols-2 {
  min-height: 50%;
  margin: 5px;
}
