<div class="header">
  <app-header></app-header>
</div>

<div class="body">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="container content" *ngIf="content === 'dashboard'">
    <div class="row-cols-1">
      <div class="item"></div>
      <div class="item">
        <app-pending-card></app-pending-card>
      </div>
      <div class="item">
        <app-vacation-card></app-vacation-card>
      </div>
      <div class="item">
        <app-solicitation-card></app-solicitation-card>
      </div>

    </div>
    <div class="row-cols-2">
      <app-records-area></app-records-area>
    </div>
  </div>
