<div class="sidebar" [class.expanded]="isExpanded">
  <div class="side-header">
    <img class="logo" src="../../assets/logo.png" alt="logo" *ngIf="isExpanded">
    <i class="bi bi-arrow-bar-right icon" (click)="toggleSidebar()" *ngIf="!isExpanded"></i>
    <i class="bi bi-arrow-bar-left icon" (click)="toggleSidebar()" *ngIf="isExpanded"></i>
  </div>

  <div class="icons">
    <a class="slot" routerLink="/home">
      <i class="bi bi-card-checklist icon"></i>
      <ng-container *ngIf="isExpanded">
        <ng-template #cardChecklistText>
          <p>Início</p>
        </ng-template>
        <ng-template [ngTemplateOutlet]="cardChecklistText"></ng-template>
      </ng-container>
    </a>

    <a class="slot" routerLink="/pendings">
      <i class="bi bi-person-exclamation icon"></i>
      <ng-container *ngIf="isExpanded">
        <ng-template #personCircleText>
          <p>Pendências</p>
        </ng-template>
        <ng-template [ngTemplateOutlet]="personCircleText"></ng-template>
      </ng-container>
    </a>

    <a class="slot" routerLink="/pendings">
      <i class="bi bi-envelope-exclamation icon"></i>
      <ng-container *ngIf="isExpanded">
        <ng-template #personCircleText>
          <p>Solicitações</p>
        </ng-template>
        <ng-template [ngTemplateOutlet]="personCircleText"></ng-template>
      </ng-container>
    </a>

    <a class="slot" routerLink="/users">
      <i class="bi bi-people icon"></i>
      <ng-container *ngIf="isExpanded">
        <ng-template #calendarCheckText>
          <p>Usuários</p>
        </ng-template>
        <ng-template [ngTemplateOutlet]="calendarCheckText"></ng-template>
      </ng-container>
    </a>

    <a class="slot" routerLink="/schedule">
      <i class="bi bi-calendar3 icon"></i>
      <ng-container *ngIf="isExpanded">
        <ng-template #calendarCheckText>
          <p>Escala</p>
        </ng-template>
        <ng-template [ngTemplateOutlet]="calendarCheckText"></ng-template>
      </ng-container>
    </a>

    <a class="slot" routerLink="/reports">
      <i class="bi bi-receipt-cutoff icon"></i>
      <ng-container *ngIf="isExpanded">
        <ng-template #calendarCheckText>
          <p>Relatórios</p>
        </ng-template>
        <ng-template [ngTemplateOutlet]="calendarCheckText"></ng-template>
      </ng-container>
    </a>
    <a class="side-footer slot" routerLink="/settings">
      <i class="bi bi-gear icon"></i>
      <ng-container *ngIf="isExpanded">
        <ng-template #calendarCheckText>
          <p>Configurações</p>
        </ng-template>
        <ng-template [ngTemplateOutlet]="calendarCheckText"></ng-template>
      </ng-container>
    </a>
  </div>
</div>
