.toolbar {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.slot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 50px;
}

.slot:hover {
  background-color: #fff;
  cursor: pointer;
}

.icons {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  padding: 0;
}

i:hover {
  color: #04A24D;
  cursor: pointer;
}

i {
  margin-left: 20px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #04A24D;
  cursor: pointer;
}

p {
  margin: 0 20px 0 20px;
}
