<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Cod. Empresa</span>
  <input type="text" class="form-control" aria-label="CompanyId" aria-describedby="basic-addon1"
    [(ngModel)]="cod_company">
</div>
<div class="input-group mb3">
  <span class="input-group-text" id="basic-addon1">Cod. Usuário</span>
  <input type="text" class="form-control" aria-label="UserId" aria-describedby="basic-addon1" [(ngModel)]="cod_user">
</div>
<div class="card-footer" style="justify-content: space-between; display: flex; margin-top: 10px;">
  <a href="#">Cadastre-se</a>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-success" (click)="requestLogin()">Entrar</button>
  </div>
</div>
