<div class="card scrollable-component" [@loadingCard]="loaded ? 'loaded' : 'loading'">
  <table class="table table-striped" [@loadingTable]="loaded ? 'loaded' : 'loading'">
    <thead class="table-light">
      <tr>
        <th scope="col">
          <input type="checkbox" (change)="selectAll($event)" />
        </th>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Data de cadastro</th>
        <th scope="col">Empresa</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody *ngIf="users && users.length">
      <tr *ngFor="let user of users">
        <th scope="row">
          <input type="checkbox" #checkbox [(ngModel)]="user.selected" />
        </th>
        <td scope="row">{{user.first_name + ' ' + user.last_name}}</td>
        <td>{{user.email}}</td>
        <td scope="row">{{user.created_at}}</td>
        <td>{{user.enterprise.alias}}</td>
        <td>
          <button class="btn btn-primary" style="margin: 5px;">Editar</button>
          <button class="btn btn-danger" style="margin: 5px;">Excluir</button>
        </td>
    <tfoot *ngIf="!users.length">
      <tr>
        <td colspan="6">Não há usuários cadastrados</td>
      </tr>
    </tfoot>
  </table>
</div>
