.card {
  background-color: #efefef;
  min-height: 400px;
  align-items: center;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-left: 5px;
  margin-top: 40px;
}

.table, .input-group-text {
  table-layout: fixed;
  width: 100%;
}

.table td, .table th {
  padding: 10px;
  vertical-align: middle;
  word-wrap: break-word;
}

.scrollable-component {
  height: 350px;
  min-height: 350px;
  overflow-y: auto; /* Isso adicionará a barra de rolagem vertical se o conteúdo exceder a altura */
}

.table td:first-child, .table th:first-child {
  width: 5%; /* Largura da primeira coluna */
}

.btn {
  min-width: 150px;
}
